.row-2{
    
    justify-content: space-between;
    margin:50px 50px;
    color: red;
}

#sort{
    float: right;
}
select{
    border: 1px solid black;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin:0 auto  80px;
    text-align: center;
}
.page-btn span{
    display: inline-block;
    border: 1px solid rgb(78, 13, 13);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: rgb(151, 56, 18);
    color: aliceblue;
}